
.box {
  background-color: coral;
  margin: 5px 0;
}
.sidebar {
  color: aliceblue;
  flex: 0 0 350px;
  height: 790px;
}
// --------------  Tickers   ------------------
.coin_box {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
  height: 400px;
}

.coin-list {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  flex: auto;
}

.tickerbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(184, 92, 92);
  margin-bottom: 3px;
  padding: 3px 10px;
  input[type="checkbox"] {
    vertical-align:middle;
  }
}

.active {
  background: rgb(97, 48, 48)!important;
}

.coin_title {
  height: 85px;
}

.balance {
  height: 280px;
}

//  ------------------   Candle Area   --------------------
.graph {

  background-color: rgb(117, 132, 180);
  height: 512px;
}
