{% extends 'layout.html' %}

{% block nav %} {% include '_nav.html' %} {% endblock %}

{% block content %}
<!--  react  -->
<section id="coins">
  <div class="container-fluid mysite-section bg-mysite-dark">
    <div class="container">
      <h2 class="row justify-content-center">Bitfinex Coins</h2>
      <div class="row" id="twgcoins" data-username="{{ current_user.username }}" data-age='12'>

      </div>
    </div>
  </div>
</section>

<!-- contact -->
<section id="contact">
  <div class="container-fluid mysite-section bg-mysite-lite">
    <div class="container">
      <h3>Contact</h3>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container-fluid mysite-section bg-mysite-dark">
    <div class="container">
      <div class="row">
        <h3>About</h3>
      </div>
    </div>
  </div>
</section>
{% endblock %}
