{% extends 'layout.html' %} {% block content %}
<!-- welcome -->
<div class="container-fluid bg-mysite-welcome bg-mysite-lite" id="welcome">
  <div class="jumbotron">
    <div class="row">
      <h1>Welcome To London</h1>
    </div>
  </div>
</div>

<!-- test react bootstrap -->
<section id="coins"></section>

<!-- contact -->
<section id="contact">
  <div class="container-fluid mysite-section bg-mysite-lite">
    <div class="container">
      <h3>Contact</h3>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container-fluid mysite-section bg-mysite-dark">
    <div class="container">
      <div class="row">
        <h3>About</h3>
      </div>
    </div>
  </div>
</section>
{% endblock %}
